.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border: #ebebeb solid 1px;

  &_checked {
    border-color: green;
    border-width: 1px;
    border-left-width: 7px;
    border-radius: 3px;
    text-decoration: line-through;
  }

  &_unchecked {
    border-color: red;
    border-width: 1px;
    border-left-width: 7px;
    border-radius: 3px;
  }
}
