.grid-container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(3, auto)
}

.group-drop-area {
  position: relative;
}

.group-drop-area::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #ebebeb;
}
